* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #2a4949;
}

main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

header {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    color: #8fbc8f;
    padding: 5px;
}

button {
    padding: 10px;
    margin: 10px;
    background-color: transparent;
    border: 1px solid #8fbc8f;
    color: #8fbc8f;
}

button:hover {
    background-color: #8fbc8f;
    color: #2f4f4f;
}

input {
    margin: 10px;
    padding: 5px;
    border: 2px solid #8fbc8f;
    border-radius: 5px;
    background-color: #6d888a;
}

::placeholder {
    color: #000000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

header label {
    color: #8fbc8f;
    margin: 10px;
}

.read {
  height: 15px;
  width: 15px;
  z-index: 4;
  cursor: pointer;
}

.checkmark {
    background-color: #6d888a;
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 3px;
    position: relative;
    left: -25px;
    z-index: -1;
}

.bookContainer {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 80%;
    width: 60vw;
    height: 80vh;
    justify-content: center;
    background-color: #6d888a;
    border-radius: 20px;
    overflow:auto;
}

.book {
    background-color: #afd3d3;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    flex-basis: 20%;
    text-align: center;
    margin: 10px;
    box-shadow: 5px 5px 5px #00000063;
    max-height: 200px;
    border: 3px solid #839999;
}

.book h2 {
    margin-bottom: 10px;
}

.book p {
    padding: 5px;
}

.deleteBook {
    position: relative;
    color: #2f4f4f;
    border-color: #2f4f4f;
    min-width: 25px;
    min-height: 25px;
    text-align: center;
    padding: 3px;
    align-self: flex-end;
}

@media screen and (max-width: 800px)
{
    .book {
        flex-basis:  100%;
    }
}

